@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/games');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Games', Dosis, Monospace, sans-serif;
}

body {
    background: #F08080;
    background-image: radial-gradient(circle at top,#F4EBA0,#F08080);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    line-height: 1.5;
}

main {
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
}

main > h1 {
    text-align: center;
    letter-spacing: 0.3rem;
    color: #EA526F;
    margin-bottom: 2rem;
    font-size: 4rem;
    animation-name: title;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes title {
    from {opacity: 0;letter-spacing: 1.8rem;}
    to {opacity: 1;letter-spacing: 0.3rem;}
}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    grid-gap: 1.5rem;
    justify-content:center;
    align-items: center;
}

.ajarn {
    width: 15rem auto;
    background: #00000040;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.7);
    color: #02111B;
    padding-top: 1rem;
    border-radius: 10px;
    border: 3px outset #00000060;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    animation: card 1s ease-in-out;
    opacity: 0.75;
}

@keyframes card {
    from {opacity: 0;top:8rem;}
    to {opacity: 0.75;top:0rem;}
}

.ajarn:hover {
    transform: scale(1.05);
    border-color: #FFD700;
    opacity: 1;
}

img.aj-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 130px;
    height: 130px;
    margin-bottom: 0.5rem;
}


.aj-info {
    background: rgba(255,255,255,0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}